.Story {
    text-align: center;
    padding: 12px 30px 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #a7a7a7;
}

.Story h2 {
    font-size: 1.2rem;
    color: rgb(0, 121, 211);
}

.Story .Empty {
    color: #a7a7a7;
}

.Story a {
    color: inherit;
}

.StoryMeta {
    display: flex;
    justify-content: space-between;
}

.StoryMeta span {
    color: #1c1c1c;
}